.grid {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
  grid-gap: 1rem;
  margin: auto;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(25%, auto));
  }
}
@media (min-width: 1200px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(4 minmax(25%, auto));
  }
}
