.grid {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  margin: auto;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
}

.filters {
  display: flex;
  justify-content: flex-start;
  padding: 0.5rem 1rem;
}

.filters button {
  width: 60px;
  height: 40px;
  background-color: blueviolet;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.selectContainer {
  width: 20%;
  min-height: 40px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.pagesContainer {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  width: 50%;
  min-height: 40px;
}

.pagesContainer button {
  cursor: pointer;
  font-weight: 500;
  border-radius: 5px;
  font-size: 1rem;
  border: none;
  transition: all 0.25s ease;
  padding: 10px;
}

.modalSections {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

@media (min-width: 768px) {
  .grid {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
