.header {
  border: 1px solid red;
  width: 100%;
}

.container {
  border: 1px solid blue;
  padding: 1rem;
}

.title {
  font-size: 1.75rem;
}

@media (min-width: 768px) {
  .container {
    width: 80%;
    margin: auto;
  }
}

/* @media (min-width: 1200px) {
  .container {
    width: 60%;
  }
} */
